html, body {
    padding: 0;
    margin: 0;
    background: #e5e5e5;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    color: #000;
}
body {
    height: 100%;
    position:relative;
}
a {
    text-decoration: none;
    color: #084827;
}
a:hover {
    text-decoration: underline
}
a img {
    border: 0
}
input, textarea {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
}
input.text, textarea {
    padding: 3px
}
.clear_both {
    clear: both
}
.ovfla {
    overflow: hidden
}
.msg_error {
    color: #F30;
    font-weight: bold;
}
.msg_success {
    color: #060;
    font-weight: bold;
}
.block {
    display:block;
}
.hidden {
    display:none;
}
h1 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 30px;
    color: #009042;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
h1.bb {
    border-bottom: 1px solid #d0e688;
    padding: 0 10px;
    line-height: 47px;
    margin: 0 0 20px 0;
}
h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
    color: #084827;
    font-weight: bold;
}
h2.h2-list {
    padding: 0 10px;
    font-size: 23px;
    color: #009042;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #084827;
    font-weight: bold;
}
#main_container {
    width: 1020px;
    border: 1px solid #b3b3b3;
    border-top: 0;
    margin: 0 auto 10px auto;
    background: #FFF url(/images/logo.png) 10px 0 no-repeat;
    position: relative;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#home_page_link {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 240px;
    height: 70px;
    text-decoration: none;
}
#left_menu {
    float: left;
    margin-top: 84px;
    width: 240px;
}
#left_menu>.t {
    height: 7px;
    background: url(/images/menu-tb.png) left top no-repeat;
}
#left_menu>.m {
    border-right: 1px solid #c2c2c2;
    padding: 0 9px 2px 9px;
    background: #FFF;
}
#left_menu>.b {
    height: 7px;
    background: url(/images/menu-tb.png) left bottom no-repeat;
}
#see_all_products {
    display: block;
    background: url(/images/see-all-products-button.png) top no-repeat;
    width: 220px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #084827;
    font-size: 15px;
    text-decoration: none;
}
#see_all_products:hover {
    background-position: bottom
}
#left_menu.hidden {
    position: absolute;
    top: 84px;
    left: 0;
    width: 240px;
    margin: 0;
}
#left_menu.hidden #left_menu_l1 {
    display: none
}
#left_menu.hidden:hover #left_menu_l1 {
    display: block
}
#left_menu.hidden #see_all_products {
    background-image: url(/images/see-all-products-button2.png);
    color: #FFF;
}
#left_menu.hidden:hover #see_all_products {
    background: url(/images/see-all-products-button.png) top no-repeat;
    color: #084827;
}
#left_menu.hidden:hover #see_all_products:hover {
    background: url(/images/see-all-products-button.png) bottom;
    color: #e6820e;
}
#left_menu_l1 {
    padding: 0;
    margin: 10px 0 0 0;
    list-style-type: none;
    border-top: 1px solid #d0e688;
}
#left_menu_l1>li {
    margin: 0;
    padding: 5px 9px 5px 6px;
    background: url(/images/menu-l1-back.png) bottom repeat-x;
    line-height: 18px;
    border: 1px solid #d0e688;
    border-width: 0 1px 1px 1px;
}
#left_menu_l1>li.first {
    margin-top: 0
}
#left_menu_l1>li>a {
    color: #084827;
    font-size: 15px;
    display: block;
    background: url(/images/menu-green-arrow.png) right center no-repeat;
}
#left_menu_l1>li .sub {
    display: none
}
#left_menu_l1>li.hover, #left_menu_l1>li:hover {
    position: relative;
    background: #f1fdcb;
}
#left_menu_l1>li.hover>a, #left_menu_l1>li:hover>a {
    text-decoration: none
}
#left_menu_l1>li.hover>.sub {
    position: absolute;
    left: 208px;
    top: -20px;
    display: block;
    width: 799px;
    z-index: 10;
}
#left_menu_l1>li.hover>.sub.cc2 {
    width: 546px
}
#left_menu_l1>li.hover>.sub.cc1 {
    width: 290px
}
#left_menu_l1>li.hover>.sub.cc0 {
    display: none
}
#left_menu_l1>li.hover .sub .t {
    height: 11px;
    margin-left: 10px;
}
#left_menu_l1>li.hover .sub .t .l {
    float: left;
    width: 12px;
    height: 11px;
    background: url(/images/menu-drop-back-3.png) top left no-repeat;
}
#left_menu_l1>li.hover .sub .t .r {
    float: right;
    width: 15px;
    height: 11px;
    background: url(/images/menu-drop-back-3.png) top right no-repeat;
}
#left_menu_l1>li.hover .sub .t .m {
    margin: 0 15px 0 12px;
    height: 11px;
    background: url(/images/menu-drop-back-3.png) left -28px repeat-x;
}
#left_menu_l1>li.hover .sub .b {
    height: 17px;
    margin-left: 10px;
}
#left_menu_l1>li.hover .sub .b .l {
    float: left;
    width: 12px;
    height: 17px;
    background: url(/images/menu-drop-back-3.png) left -11px no-repeat;
}
#left_menu_l1>li.hover .sub .b .r {
    float: right;
    width: 15px;
    height: 17px;
    background: url(/images/menu-drop-back-3.png) right -11px no-repeat;
}
#left_menu_l1>li.hover .sub .b .m {
    margin: 0 15px 0 12px;
    height: 17px;
    background: url(/images/menu-drop-back-3.png) left -39px repeat-x;
}
#left_menu_l1>li.hover .sub .c {
    background: url(/images/menu-drop-back-4.png) left repeat-y;
    margin-left: 10px;
}
#left_menu_l1>li.hover .sub .c2 {
    background: url(/images/menu-drop-back-4.png) right repeat-y
}
#left_menu_l1>li.hover .sub .c3 {
    background: #FFF;
    margin: 0 17px 0 13px;
    overflow: visible;
}
#left_menu_l1>li.hover .sub .p {
    width: 12px;
    height: 28px;
    background: #f1fdcb;
    position: absolute;
    left: 0;
    top: 20px;
}
#left_menu_l1>li.hover .sub .close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 28px;
    height: 28px;
    background: url(/images/menu-drop-back-3.png) bottom no-repeat;
    text-decoration: none;
}
#left_menu_l1>li.hover .sub .clmn {
    width: 235px;
    margin: 5px 9px;
    float: left;
}
#left_menu_l1>li.hover .sub .clmn>strong {
    display: block;
    border-bottom: 1px solid #dae5b9;
    line-height: 23px;
    padding-left: 10px;
    font-size: 15px;
}
#left_menu_l1>li.hover .sub .clmn>strong>a:hover {
    color: #e6820e;
    text-decoration: none;
}
#left_menu_l1>li.hover .sub .clmn>div {
    display: block;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #dae5b9;
    line-height: 23px;
    font-size: 13px;
    white-space: nowrap;
}
#left_menu_l1>li.hover .sub .clmn>div>a {
    max-width: 215px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#left_menu_l1>li.hover .sub .clmn>div.pt {
    margin-bottom: 10px
}
#left_menu_l1>li.hover .sub .clmn>div:hover {
    background: url(/images/left-menu-product-hover-bg.png) no-repeat;
    position: relative;
    border-bottom: 0;
    height: 25px;
    margin-top: -1px;
    line-height: 25px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover>a {
    max-width: 185px
}
#left_menu_l1>li.hover .sub .clmn>div .preview_element {
    display: none
}
#left_menu_l1>li.hover .sub .clmn>div:hover .preview_element {
    float: right;
    width: 16px;
    margin-top: 5px;
    height: 20px;
    margin-right: 1px;
    cursor: pointer;
    display: block;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls {
    position: absolute;
    left: 217px;
    top: -10px;
    display: block;
    min-width: 165px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .t {
    height: 6px;
    margin-left: 20px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .t .l {
    height: 6px;
    width: 6px;
    background: url(/images/menu-drop-back-1.png) left top;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .t .r {
    height: 6px;
    width: 7px;
    background: url(/images/menu-drop-back-1.png) right top;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .t .m {
    height: 6px;
    margin: 0 7px 0 6px;
    background: url(/images/menu-drop-back-1.png) left -17px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .b {
    height: 7px;
    margin-left: 20px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .b .l {
    height: 7px;
    width: 6px;
    background: url(/images/menu-drop-back-1.png) left -6px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .b .r {
    height: 7px;
    width: 7px;
    background: url(/images/menu-drop-back-1.png) right -6px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .b .m {
    height: 7px;
    margin: 0 7px 0 6px;
    background: url(/images/menu-drop-back-1.png) left -23px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .c {
    overflow: hidden;
    background: #FFF url(/images/menu-drop-back-2.png) right repeat-y;
    border-left: 1px solid #3e5b30;
    margin-left: 20px;
}
#left_menu_l1>li.hover .sub .clmn>div:hover .sub.dtls .p {
    width: 7px;
    height: 9px;
    background: url(/images/menu-drop-back-p.png);
    left: 15px;
    top: 18px;
}
#left_menu_l1>li.hover .sub .clmn>div>a {
    text-decoration: none
}
#left_menu_l1>li.hover .sub .clmn>p {
    margin: 7px 0 0 20px
}
#left_menu_l1>li.hover .sub .clmn>p a.view-all-prods {
    margin: 0;
    background: url("/images/bg-btn.gif") repeat-x scroll 0 0 #DDD;
    border-top-color: #bbb;
    border-right-color: #bbb;
    border-bottom-color: #999;
    border-left-color: #bbb;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #333;
    cursor: pointer;
    font: 400 12px/13px'Droid Sans', 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
    overflow: visible;
    padding: 1px 8px 2px;
    width: auto;
}
#left_menu_l1>li.hover .sub .clmn>p a.view-all-prods:hover {
    background-position: 0 -6px;
    border-color: #999 #999 #666;
    text-decoration: none;
    color: #333;
}
#left_menu_l1>li.hover .sub .dtls .ld {
    margin: 20px;
    width: 80px;
    height: 20px;
    background: url(/images/ajax-2.gif) center no-repeat;
}
#left_menu_l1>li.hover .sub .dtls .c {
    padding: 0 8px;
    color: #000;
    font-weight: normal;
}
#left_menu_l1>li.hover .sub .dtls .forms {
    border-bottom: 1px solid #dae5b9;
    padding-bottom: 3px;
}
#left_menu_l1>li.hover .sub .dtls .forms .form {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
    font-size: 13px;
    color: #000;
}
#left_menu_l1>li.hover .sub .dtls .features {
    list-style-type: none;
    margin: 3px 0 0 0;
    padding: 0 0 3px 0;
}
#left_menu_l1>li.hover .sub .dtls .features li {
    margin: 3px 0 0 0;
    padding: 0 0 0 25px;
    background-position: left;
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 23px;
    border-bottom: 1px solid #dae5b9;
    color: #000;
}
#left_menu_l1>li.hover .sub .dtls .benefits {
    padding-left: 25px;
    background: url(/images/benefits-icon.png) top left no-repeat;
    border-bottom: 1px solid #dae5b9;
    line-height: 16px;
    margin-top: 3px;
    padding-bottom: 3px;
}
#left_menu_l1>li.hover .sub .dtls .benefits ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#left_menu_l1>li.hover .sub .dtls .benefits ul li {
    margin: 0;
    padding: 0 0 0 8px;
    color: #000;
    background: url(/images/list-bullet.png) left 7px no-repeat;
}
#left_menu_l1>li.hover .sub .dtls a {
    color: #6f924f;
    font-weight: bold;
    font-size: 12px;
    margin-top: 3px;
}
#left_menu_l1>li.kiddie_max {
    background: #FFF;
    padding: 10px 0 0 0;
    border: 0;
}
#left_menu_l1>li.kiddie_max>a {
    display: block;
    background: url(/images/kiddie-max-button.png) top left no-repeat;
    width: 220px;
    height: 54px;
    text-decoration: none;
}
#left_menu_l1>li.kiddie_max.hover>a, #left_menu_l1>li.kiddie_max:hover>a {
    background-position: bottom left
}
#left_menu_l1>li.kiddie_max.hover>.sub {
    top: 15px
}
#left_menu_l1>li.kiddie_max.hover>.sub>.p {
    display: none
}
.btn {
    -webkit-appearance: none;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    -webkit-box-align: center;
    -webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0 1px 0 0 inset, rgba(0, 0, 0, 0.046875) 0 1px 2px 0;
    background-color: #faa732;
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.246094);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-left-color: rgba(0, 0, 0, 0.0976563);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.0976563);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.0976563);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.199219) 0 1px 0 0 inset, rgba(0, 0, 0, 0.046875) 0 1px 2px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font: 400 14px/14px Arial, sans-serif;
    padding: 3px 6px;
    height: auto;
    letter-spacing: normal;
    margin: 0;
    max-width: none;
    text-align: center;
    text-indent: 0;
    text-shadow: rgba(0, 0, 0, 0.246094) 0 -1px 0;
    text-transform: none;
    vertical-align: middle;
    word-spacing: 0;
}
.btn:hover {
    background-color: #f89406;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
    text-decoration: none;
    -webkit-transition: background-position .1s linear;
    background-position: 0 -15px;
}
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ededed');
}
.white:hover {
    color: #606060;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dcdcdc');
}
#left-menu-btm {
    float: left;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#left-menu-btm li {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    display: block;
}
#left-menu-btm .left-menu-btm-btn {
    margin: 12px 0 0 10px
}
#left-menu-btm .left-menu-btm-btn a {
    display: block;
    background: url(/images/see-all-products-button.png) top no-repeat;
    width: 220px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #084827;
    font-size: 15px;
    text-decoration: none;
}
#left-menu-btm .left-menu-btm-btn a:hover {
    background-position: bottom
}
#left-menu-btm .left-menu-btm-video a {
    display: block;
    background: url(/images/leftnav_sprite.png) top no-repeat;
    width: 238px;
    height: 159px;
    text-indent: -9999px;
}
#sidebar-adgroup {
    background: url(/images/leftnav_sprite.png) 0 -159px no-repeat;
    width: 238px;
    height: 307px;
    overflow: hidden;
    position:relative;
    margin-bottom:1em;
}
#sidebar-adgroup .sidebar-zoom-icon {
    position: absolute;
    top: 128px;
    left: 25px;
    width: 150px;
    height: 150px;
    text-indent: -9999px;
    background: url(/dev/img/ads_sprite.png) no-repeat scroll 0 -226px transparent;
    cursor:pointer;
    z-index:10;
}
#left_menu .sidebar-slides {
    width: 238px;
    height: 288px;
    margin:auto;
}
#left_menu .sidebar-slides a {
    display:block;
    width:236px;
    margin-left:auto;
    margin-right:auto;
}
#left_menu .sidebar-slides a img {
    padding-top:6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#left_menu .sidebar-slide-dash {
    width: 90px;
    height: 10px;
    position: absolute;
    right: 74px;
    top: 293px;
}
#left_menu .sidebar-slide-dash a {
    background: url(/images/leftnav_sprite.png) -10px -470px no-repeat;
    width: 9px;
    height: 13px;
    display: block;
    cursor: pointer;
    font-size: 1px;
    text-indent: -9999px;
    color: #fff;
    margin-left: 8px;
    float: left;
}
#left_menu .sidebar-slide-dash .activeSlide, #left_menu .sidebar-slide-dash a:hover {
    background-position:0 -470px;
}
#sidebar-adgroup .left-menu-seeads {
    background: url("/images/leftnav_sprite.png") no-repeat scroll 0 -485px transparent;
    display: block;
    height: 16px;
    position: absolute;
    right: 3px;
    text-indent: -9999px;
    top: 289px;
    width: 52px;
}
#sidebar-adgroup .left-menu-seeads:hover {
    background-position:0 -501px;
}
#header {
    height: 122px;
    position: relative;
    margin-left: 240px;
}
#header .tr_links {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #555;
    font-size: 11px;
}
#holiday-btn {
    position: absolute;
    right: 10px;
    top: 22px;
    cursor: pointer;
}
#header .tr_links a {
    color: #555;
    font-size: 11px;
}
#header .search {
    position: absolute;
    top: 58px;
    right: 10px;
    line-height: 22px;
}
#header .search .text {
    border: 1px solid #009444;
    margin-right: 5px;
    vertical-align: middle;
    outline: 0;
    padding: 3px;
    width: 164px;
}
#header .search .subm {
    vertical-align: middle;
    background: url(/images/search-btn.png) center top no-repeat;
    width: 26px;
    height: 25px;
    border: 0;
    cursor: pointer;
}
#header .search .subm:hover {
    background-position: bottom
}
#chatlive {
    position: absolute;
    top: 16px;
    left: 443px;
    width: 60px;
    height: 58px;
    text-decoration: none;
    overflow: hidden;
}
#chatlive:hover img {
    position: relative;
    top: -58px;
}
#header .menu {
    height: 36px;
    margin: 85px 0 0 8px;
    float: left;
    white-space: nowrap;
}
#header .menu .m {
    margin: 0;
    height: 36px;
    width: 763px;
}
#header .menu .m>a {
    color: #FFF;
    line-height: 29px;
    float: left;
    padding: 7px 0 1px 0;
    font-size: 14px;
    font-family:'Droid Sans', 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
}
#header .menu .m a:hover {
    text-decoration: none
}
#header .menu .m a>span {
    background: url(/images/top-menu.png) left -43px repeat-x;
    display: block;
    padding-left: 14px;
    border-right: 1px solid #009444;
    border-left: 1px solid #003e1a;
}
#header .menu .m>a.last {
    background: url(/images/top-menu.png) right 7px no-repeat;
    padding-right: 5px;
    width: 111px;
}
#header .menu .m>a.last:hover, #header .menu .m>a.last.active {
    background: url(/images/top-menu.png) right -214px no-repeat
}
#header .menu .m a.first {
    background: url(/images/top-menu.png) left 7px no-repeat;
    padding-left: 5px;
    width: 142px;
}
#header .menu .m a.kosher {
    width: 119px
}
#header .menu .m a.new {
    width: 117px
}
#header .menu .m a.health {
    width: 121px
}
#header .menu .m a.bo {
    width: 141px
}
#header .menu .m a.first:hover {
    background: url(/images/top-menu.png) left -214px no-repeat
}
#header .menu .m a.first>span {
    border-left: none
}
#header .menu .m a.last>span {
    border-right: 0
}
#header .menu .m a.last, #header .menu .m a.last>span {
    height: 29px
}
#header .menu .m a:hover>span, #header .menu .m>a.last.active>span {
    background-position: left -86px
}
#header .menu .m a.last>span span {
    background: url(/images/globalnav_sprite.png) 87px 11px no-repeat;
    display: block;
}
#header .menu .m a.last ul {
    display: block;
    list-style: none;
}
#header .menu .m a.bo {
    padding-top: 0;
    height: 36px;
}
#header .menu .m a.bo>span {
    background-position: left -122px;
    border: 0;
    display: block;
    height: 36px;
}
#header .menu .m a.bo>span:hover {
    background-position: left -165px
}
#header .menu .m a.bo>span span {
    background: url(/images/top-menu-basket.png) top right no-repeat;
    width: 115px;
    display: block;
    padding-top: 7px;
}
#storesDropDown {
    margin: 0;
    padding: 10px;
    background: #f5f5f5;
    position: relative;
    float: right;
    top: 0;
    left: 8px;
    width: 320px;
    height: 81px;
    list-style: none;
    z-index: 1;
    border: 1px solid #767371;
    border-radius: 4px;
    box-shadow: 0 3px 8px #555;
    right: -10px;
    display: none;
}
#storesDropDown.active {
    display: block
}
#storesDropDown .arrow {
    background: url("/images/globalnav_sprite.png") no-repeat scroll 0 -21px transparent;
    display: block;
    float: right;
    height: 9px;
    position: relative;
    top: -19px;
    width: 15px;
    right: 2px;
}
#storesDropDown .view-all {
    background: url("/images/globalnav_sprite.png") no-repeat scroll -11px 6px transparent;
    width: 4px;
}
#storesDropDown .view-all a {
    color: #000;
    font-size: 11px;
    padding-left: 8px;
}
#storesDropDown .headline {
    font-size: 16px;
    color: #084827;
    font-weight: bold;
}
#storesDropDown .store-search-input {
    display: block;
    overflow: hidden;
    margin: 5px 0;
}
#dealerSearch {
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: 0;
    margin: 0;
    padding: 3px;
    height: 20px;
    width: 287px;
    color: #000;
    display: inline-block;
    float: left;
    font: 10px/1.2 Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-size: 11px;
}
#dealerSubmitBtn {
    border-radius: 0 4px 4px 0;
    padding: 0;
    margin: 0;
    height: 28px;
    float: left;
    position: relative;
    right: 1px;
    top: 0;
    width: 25px;
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444, #222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
#dealerSubmitBtn:hover {
    background-color: #222;
    background-image: none;
}
#dealerSubmitBtn i {
    background: url(/images/globalnav_sprite.png) 0 -30px no-repeat;
    width: 13px;
    height: 13px;
    display: inline-block;
}
#search_suggestions_box {
    position: absolute;
    top: 22px;
    left: 0;
    width: 215px;
    border: 1px solid #009444;
    background: #FFF;
    display: none;
    z-index: 999;
}
#search_suggestions_box a {
    display: block;
    line-height: 16px;
    font-size: 13px;
}
#search_suggestions_contents {
    padding: 5px
}
#search_suggestions_contents a {
    background: url("/images/list-bullet.png") no-repeat scroll left 7px transparent;
    padding: 0 0 0 8px;
}
#search_suggestions_contents a.all {
    margin: 5px 0;
    background-image: none;
}
#search_suggestions_contents div {
    font-style: italic;
    color: #666;
    font-size: 13px;
    padding: 0 5px;
}
#search_suggestions_box .f {
    background: #f0f0f0;
    padding: 5px;
}
#footer {
    margin: 0 auto 10px auto;
    background: #f0f0f0;
    overflow: hidden;
    width: 1020px;
    border-radius: 8px;
}
#footer .clmn {
    width: 180px;
    float: left;
    color: #000;
    margin: 10px 5px;
    font-size: 11px;
    line-height: 16px;
}
#footer .clmn.first {
    margin-left: 65px
}
#footer strong {
    font-size: 14px;
    line-height: 18px;
    display: block;
}
#footer .clmn a+strong {
    margin-top: 10px
}
#footer a {
    display: block;
    color: #000;
}
#sub_footer {
    margin: 0 auto 20px auto;
    text-align: center;
    color: #555;
    font-size: 11px;
    line-height: 30px;
}
#sub_footer a {
    color: #555
}
#sub_footer .r1 a {
    margin: 0 5px
}
#sub_footer img {
    vertical-align: middle
}
#sub_footer .m5 {
    margin: 0 5px
}
#body {
    margin: 10px 10px 30px 261px
}
#body2 {
    margin: 10px 10px 30px 248px
}
#body.noleftmenu {
    margin: 20px 10px 30px 20px
}
#body.pl20 {
    margin-left: 268px
}
#fp_banner {
    border: 1px solid #3e5b30;
    overflow: hidden;
    height: 300px;
    position: relative;
}
#fp_banner a {
    text-decoration: none
}
#fp_banner .b {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
#fp_banner .b.current {
    display: block
}
#fp_banner .indicators {
    position: absolute;
    top: 260px;
    right: 19px;
}
#fp_banner .indicators a {
    float: left;
    width: 19px;
    height: 19px;
    margin-left: 7px;
    background: url(/images/banner-page-indicators.png) -27px -3px no-repeat;
}
#fp_banner .indicators a.active {
    background-position: left -3px
}
#fp_banner.loading {
    background: url(/images/loading_large.gif) no-repeat center center
}
.fp_text {
    color: #084827;
    line-height: 21px;
    font-size: 15px;
    padding-top: 18px;
    overflow: hidden;
    margin-bottom: 20px;
}
.fp_text p {
    margin: 15px 0
}
.fp_text img {
    float: left;
    margin: 0 20px 10px 25px;
}
#seasonal_products_box {
    float: right;
    width: 222px;
    border: 1px solid #ddd;
    height: 403px;
    padding: 8px 5px 0 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#fbfbfb));
    background: -webkit-linear-gradient(#fff, #fbfbfb);
    background: -moz-linear-gradient(#fff, #fbfbfb);
    background: -ms-linear-gradient(#fff, #fbfbfb);
    background: -o-linear-gradient(#fff, #fbfbfb);
    background: linear-gradient(#fff, #fbfbfb);
}
#seasonal_products_box .ttl {
    background: transparent url(/images/globalnav_sprite.png) no-repeat -19px 0;
    height: 20px;
    width: 179px;
    left: -10px;
    position: relative;
    z-index: 1;
    padding: 6px 0 0 11px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
#seasonal_products_box .content {
    overflow: hidden;
    font-size: 12px;
}
#seasonal_products_box .content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#seasonal_products_box .content ul li {
    padding: 0;
    margin: 10px 0 0 0;
    height: 83px;
}
#seasonal_products_box .content ul li img {
    float: left;
    max-height: 80px;
}
#seasonal_products_box .content ul li div {
    margin: 0 10px 0 55px
}
#seasonal_products_box .content ul li div strong {
    color: #2d4802;
    display: block;
}
#seasonal_products_box .content ul li div a:hover strong {
    text-decoration: none;
    color: #e6820e;
}
#seasonal_products_box .content ul li div a:hover {
    text-decoration: none
}
#fp_brands_listing {
    width: 492px;
    border: 1px solid #ddd;
    height: 403px;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#fbfbfb));
    background: -webkit-linear-gradient(#fff, #fbfbfb);
    background: -moz-linear-gradient(#fff, #fbfbfb);
    background: -ms-linear-gradient(#fff, #fbfbfb);
    background: -o-linear-gradient(#fff, #fbfbfb);
    background: linear-gradient(#fff, #fbfbfb);
}
#breadcrumb {
    color: #2d4802;
    font-size: 11px;
    margin-bottom: 20px;
}
#breadcrumb a {
    color: #2d4802
}
#print_mail {
    float: right;
    font-size: 11px;
    color: #3b3b3b;
}
#print_mail a {
    padding-left: 20px;
    background: url(/images/mail-print.png) top left no-repeat;
}
#print_mail a.print {
    margin-right: 20px
}
#print_mail a.mail {
    background-position: left -19px
}
#socialMediaWrpr {
    margin-top: 20px
}
#product_photo {
    width: 235px;
    margin-right: 20px;
    float: left;
}
#product_photo .ph {
    border: 1px solid #dae5b9;
    padding: 10px;
    text-align: center;
}
#product_photo .ph img {
    max-height: 250px;
    max-width: 200px;
}
#product_photo .vl {
    margin-top: 5px;
    text-align: center;
}
#product_photo .vl a {
    padding-left: 16px;
    background: url(/images/view-larger.png) left no-repeat;
    font-size: 11px;
    color: #000;
}
#product_top_right {
    color: #2d4802;
    margin-left: 255px;
}
#product_top_right p {
    margin: 0;
    padding: 0;
}
#product_top_right p:first-child {
    font-weight: bold
}
#product_top_right .forms {
    margin: 10px 0;
    font-family: Georgia, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
}
#product_top_right .forms .form {
    padding-left: 25px;
    background-position: left;
    background-repeat: no-repeat;
}
#product_top_right .features {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
}
#product_top_right .features li {
    margin: 0 0 5px 0;
    padding: 0 0 0 20px;
    background-repeat: no-repeat;
    background-position: left;
    line-heihgt: 20px;
    color: black;
    font-size: 12px;
}
#product_top_right .benefits {
    padding-left: 20px;
    background: url(/images/benefits-icon.png) top left no-repeat;
    line-height: 18px;
    font-size: 12px;
    margin-top: 10px;
}
#product_top_right .benefits ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#product_top_right .benefits ul li {
    margin: 0;
    padding: 0 0 0 8px;
    color: #000;
    background: url(/images/list-bullet.png) left 7px no-repeat;
}
#product_top_right .see_our_ad {
    float: right;
    margin: 0;
    position: relative;
    width: 104px;
}
#product_top_right .see_our_ad span {
    position: absolute;
    top: 60px;
    left: 4px;
    opacity: .8;
    color: black;
}
#product_top_right .see_our_ad img {
    max-width: 102px;
    max-height: 142px;
    border: 1px solid #b3b3b3;
}
#product_top_right .also_a_great {
    float: right;
    text-align: center;
}
#product_top_right .also_a_great strong {
    display: block;
    color: #004922;
    font-size: 17px;
    margin-bottom: 9px;
}
#product_top_right .also_a_great a {
    margin-top: 6px;
    color: #004922;
    background: url(/images/yellow-link-box.png) center top no-repeat;
    display: block;
    font-size: 14px;
    line-height: 20px;
}
#product_top_right .also_a_great a:hover {
    background-position: center bottom;
    text-decoration: none;
}
#product_top_right .also_a_great .m {
    padding-bottom: 20px
}
#itemThumbList {
    list-style: none;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#itemThumbList li {
    float: left
}
#itemThumbList li {
    float: left;
    padding: 7px 7px 7px 0;
}
#itemThumbList li a {
    width: 80px;
    height: 80px;
    border: 1px solid #dae5b9;
    display: block;
    text-align: center;
}
.prb220 {
    width: 224px;
    display: block;
}
.prb220>.t {
    height: 10px;
    background: url(/images/pr-b-220-s.png) no-repeat left -27px;
}
.prb220>.b {
    height: 10px;
    background: url(/images/pr-b-220-s.png) no-repeat left -44px;
}
.prb220>.m {
    padding: 10px 20px 10px 10px;
    overflow: hidden;
    background: url(/images/pr-b-220-s.png) repeat-y right;
}
.prb220:hover>.t {
    background-position: left top
}
.prb220:hover>.b {
    background-position: left -17px
}
.prb220:hover>.m {
    background-position: -224px top
}
#product_bottom {
    overflow: hidden;
    margin-top: 20px;
}
#product_bottom .tabs_container {
    float: left;
    width: 500px;
}
#product_bottom .tabs_container .tabs_top {
    height: 24px;
    border-bottom: 1px solid #dae5b9;
    overflow: visible;
    margin-bottom: 20px;
}
#product_bottom .tabs_container .tabs_top a.tab {
    line-height: 24px;
    color: #777;
    font-size: 12px;
    float: left;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-repeat: no-repeat;
}
#product_bottom .tabs_container .tabs_top a.tab:hover {
    color: #000
}
#description_tab_btn {
    width: 87px;
    background-position: left top;
}
#supplemental_facts_tab_btn {
    width: 195px;
    background-position: left -32px;
}
#reviews_tab_btn {
    width: 87px;
    background-position: left top;
}
#product_bottom .tabs_container .tabs_top a.tab.selected {
    color: #333;
    background-image: url(/images/product-tabs-back.png);
}
#product_bottom .tabs_container .tabs_top a.tab.selected:hover {
    text-decoration: none;
    cursor: default;
}
#product_bottom .tabs_container .tabs_top a.exp {
    float: right;
    padding: 0 10px 0 20px;
    height: 18px;
    line-height: 18px;
    background: #f9fde9 url(/images/expand-product-details.png) left center no-repeat;
    border: 1px solid #dae5b9;
    font-size: 11px;
}
#product_bottom .tabs_container .tabs_top a.exp.selected:hover {
    text-decoration: none;
    cursor: default;
}
#supplemental_facts_tab, #reviews_tab {
    display: none
}
#product_bottom .tabs_container .tabs {
    font-size: 12px
}
#reviews_tab .ttl {
    font-size: 18px;
    color: #084827;
    margin-bottom: 15px;
}
#reviews_tab .review {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#reviews_tab .review p {
    font-family: Georgia, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #555;
    padding: 0;
    margin: 0 0 10px 0;
}
#reviews_tab .review .btm {
    font-size: 12px;
    color: #084827;
    font-weight: bold;
}
#reviews_tab .review .btm .date {
    font-weight: normal
}
#reviews_tab .form .l {
    width: 231px;
    height: 65px;
    float: left;
    margin-right: 20px;
}
#reviews_tab .form .r {
    width: 231px;
    height: 65px;
    float: left;
}
#reviews_tab .form .r span {
    color: #666;
    font-size: 13px;
}
#reviews_tab .form label {
    font-weight: bold;
    color: #666;
    font-size: 13px;
}
#reviews_tab .form input.text {
    display: block;
    width: 220px;
    border: 1px solid #999;
}
#reviews_tab .form textarea {
    width: 472px;
    border: 1px solid #999;
    display: block;
    margin-bottom: 12px;
}
#reviews_tab .form .submit {
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    width: 65px;
    height: 22px;
    border: 0;
    background: url(/images/submit-yellow.png) top left;
    cursor: pointer;
}
#reviews_tab .form .submit:hover {
    background-position: bottom left
}
#product_bottom .best_taken_with {
    float: right;
    width: 224px;
    color: #2d4802;
}
#product_bottom .best_taken_with .ttl {
    font-size: 14px;
    display: block;
}
#product_bottom .best_taken_with .prb220 {
    margin-top: 14px;
    font-size: 12px;
    line-height: 16px;
}
#product_bottom .best_taken_with .prb220 * {
    display: block;
    color: #2d4802;
}
#product_bottom .best_taken_with .prb220 .cat {
    background: url(/images/yellow-link-box-small.png) left top no-repeat;
    display: block;
    width: 128px;
    text-align: center;
    line-height: 17px;
    height: 17px;
    font-size: 11px;
    color: #004922;
}
#product_bottom .best_taken_with .prb220 .cat:hover {
    background-position: left bottom;
    text-decoration: none;
}
#body.alpha_index .alpha_list {
    dipslay: block;
    width: 960px;
    overflow: hidden;
    margin-bottom: 40px;
}
#body.all_products_body .clmn, #body.category_body .clmn {
    width: 290px;
    margin: 0 30px 5px 0;
    float: left;
}
#body.alpha_index .alpha_list li {
    width: 258px;
    margin: 0 30px 5px 0;
    float: left;
    border: 1px solid #fff;
    border-bottom: 1px solid #dae5b9;
    padding: 0 0 0 20px;
    line-height: 23px;
    font-size: 13px;
    height: 23px;
    overflow: hidden;
}
#body.all_products_body .clmn h2, #body.category_body .clmn h2 {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 1px solid #dae5b9;
    padding: 0 10px;
    margin: 0;
}
#body.all_products_body ul, #body.category_body ul, #body.alpha_index .alpha_list {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
}
#body.all_products_body ul li, #body.category_body ul li {
    border: 1px solid #fff;
    border-bottom: 1px solid #dae5b9;
    padding: 0 0 0 20px;
    line-height: 23px;
    font-size: 13px;
    margin: 0;
    height: 23px;
    overflow: hidden;
}
#product_popup_button {
    float: right;
    width: 27px;
    height: 25px;
    margin: 0;
    background: url(/images/preview-icon.png) no-repeat;
    cursor: pointer;
    display: none;
}
#body.all_products_body>div>ul li.hover, #body.all_products_body>div>ul li:hover, #body.category_body>div>ul li.hover, #body.category_body>div>ul li:hover {
    background: url(/images/list-highlight-bg.png) no-repeat;
    position: relative;
    border-bottom: 0;
    height: 25px;
    margin-top: -1px;
    line-height: 25px;
}
#body.all_products_body>div>ul li:hover a, #body.category_body>div>ul li:hover a, .sitemap_body .products .clmn>div.open>div div:hover a {
    color: #000;
    text-decoration: none;
}
#body.all_products_body>div>ul li.hover #product_popup_button, #body.all_products_body>div>ul li:hover #product_popup_button, #body.category_body>div>ul li.hover #product_popup_button, #body.category_body>div>ul li:hover #product_popup_button {
    display: block
}
#product_popup {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 380px;
    display: none;
}
#product_popup>.t .l {
    height: 30px;
    width: 6px;
    float: left;
    background: url(/images/all-products-popup-border.png) top left no-repeat;
}
#product_popup>.t .r {
    height: 30px;
    width: 8px;
    float: right;
    background: url(/images/all-products-popup-border.png) top right no-repeat;
}
#product_popup>.t .m {
    height: 30px;
    margin: 0 8px 0 6px;
    background: url(/images/all-products-popup-border.png) left -38px repeat-x;
    color: #003e1a;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 5px;
}
#product_popup>.t .close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    background: url(/images/close-button.png) center no-repeat;
}
#product_popup>.b .l {
    width: 8px;
    height: 8px;
    float: left;
    background: url(/images/all-products-popup-border.png) left -30px no-repeat;
}
#product_popup>.b .r {
    width: 8px;
    height: 8px;
    float: right;
    background: url(/images/all-products-popup-border.png) right -30px no-repeat;
}
#product_popup>.b .m {
    height: 8px;
    margin: 0 8px;
    background: url(/images/all-products-popup-border.png) bottom repeat-x;
}
#product_popup>.m {
    border-left: 1px solid #3e5b30;
    background: #fcfcfb url(/images/all-products-popup-border2.png) right repeat-y;
    padding-right: 3px;
}
#product_popup .top {
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #dae5b9;
}
#product_popup .top img.product {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 80px;
    max-height: 200px;
}
#product_popup .top .r {
    margin-left: 85px
}
#product_popup .top .forms .form {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
    font-size: 16px;
    font-style: italic;
    color: #2d4802;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#product_popup .top p {
    color: #333;
    font-size: 12px;
    margin: 10px 0;
}
#product_popup .top a {
    color: #6f924f;
    font-weight: bold;
    font-size: 12px;
}
#product_popup .bottom {
    padding: 10px;
    overflow: auto;
}
#product_popup .bottom .features {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#product_popup .bottom .features li {
    margin: 3px 0 0 0;
    padding: 0 0 0 25px;
    background-position: left;
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 23px;
    border: 0;
}
#product_popup .bottom .also_a_great {
    float: right;
    width: 152px;
    text-align: center;
    margin-right: 20px;
}
#product_popup .bottom .also_a_great strong {
    display: block;
    color: #2d4802;
    font-size: 12px;
}
#product_popup .bottom .also_a_great a {
    text-align: center;
    display: block;
    margin-top: 3px;
    color: #004922;
    background: url(/images/yellow-link-box.png) left top no-repeat;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}
#product_popup .bottom .also_a_great a:hover {
    background-position: left bottom;
    text-decoration: none;
}
#product_popup .loading {
    height: 60px;
    background: url(/images/ajax-2.gif) center no-repeat;
}
.reviews_body .review {
    border-bottom: 1px solid #d0e688;
    padding: 0 0 25px 10px;
    color: #084827;
}
.reviews_body .review p {
    font: italic 400 16px/25px Georgia, serif
}
.reviews_body .review .name {
    font-size: 12px
}
.reviews_body .review .name .orange {
    color: #e6820e
}
.reviews_body .review a {
    color: #084827
}
.search_err {
    margin: 0 0 10px 10px;
    color: #bf000b;
    font-size: 18px;
}
.search_err .word {
    color: #004922;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, Arial, Verdana, sans-serif;
    text-decoration: none;
}
.product_result {
    margin-top: 10px;
    border: 1px solid #dae5b9;
    background: #f9f9f9;
}
.product_result .in {
    background: url(/images/product-box-backgrounds.png) repeat-x left top;
    margin: 2px;
    overflow: auto;
}
.product_result:hover {
    background: #fdfdfd;
    box-shadow: 2px 3px 3px #a2a2a2;
    -moz-box-shadow: 2px 3px 3px #a2a2a2;
    -webkit-box-shadow: 2px 3px 3px #a2a2a2;
}
.product_result:hover .in {
    background-position: left -250px
}
.product_result h2 a {
    color: #003e1a;
    font-size: 14px;
    padding: 0 10px;
    margin: 0 0 10px 0;
    line-height: 28px;
    text-decoration: none;
}
.product_result:hover h2 a {
    color: #e6820e
}
.product_result .img {
    float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 75px;
}
.product_result .body {
    margin: 0 0 10px 80px;
    width: 380px;
}
.product_result .forms {
    font-family: Georgia, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
}
.product_result .forms .form {
    padding-left: 25px;
    background-position: left;
    background-repeat: no-repeat;
}
.product_result p {
    margin: 7px 0
}
.product_result .body a {
    color: #6f924f;
    font-weight: bold;
    font-size: 12px;
}
.product_result .features {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
    float: right;
    width: 145px;
}
.product_result .features li {
    margin: 0 0 5px 0;
    padding: 0 0 0 20px;
    background-repeat: no-repeat;
    background-position: left;
    line-heihgt: 20px;
    color: black;
    font-size: 12px;
}
.product_result .also_a_great {
    float: right;
    width: 128px;
    text-align: center;
    margin: 0 20px 10px 0;
}
.product_result .also_a_great strong {
    display: block;
    color: #2d4802;
    font-size: 12px;
}
.product_result .also_a_great a {
    text-align: center;
    display: block;
    margin-top: 3px;
    color: #004922;
    background: url(/images/yellow-link-box-small.png) left top no-repeat;
    font-size: 11px;
    line-height: 17px;
    height: 17px;
    width: 128px;
}
.product_result .also_a_great a:hover {
    background-position: left bottom;
    text-decoration: none;
}
#stores_locator {
    height: 450px;
    background: #f8f8f8;
    border: 1px solid #ccc;
}
#search_form {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    overflow: hidden;
    display: block;
    clear: both;
}
#search_form li {
    float: left;
    padding-right: 5px;
}
#search_form li:first-child {
    font-size: 16px;
    color: #084827;
    font-weight: bold;
    padding-top: 5px;
}
#search_form small {
    display: block
}
#search_location_form input.text {
    border: 1px solid #999;
    padding: 4px 3px;
    width: 300px;
}
#search_location_form input[type="submit"] {
    vertical-align: middle;
    background: url(/images/findstore.png) center top no-repeat;
    width: 115px;
    height: 28px;
    border: 0;
    cursor: pointer;
}
#search_location_form input[type="submit"]:hover {
    background-position: bottom left
}
.stores_locations_body #stores_list {
    width: 218px;
    float: left;
    height: 440px;
    overflow-y: auto;
    padding: 10px 0 0 10px;
}
.stores_locations_body #stores_list .store {
    padding: 8px 0;
    border-bottom: 1px solid #dae5b9;
    cursor: pointer;
}
.stores_locations_body #stores_list .store p {
    margin: 0;
    padding: 0;
}
.stores_locations_body #stores_list .none {
    text-align: center;
    color: #b0b3bc;
    margin-top: 50px;
    font-weight: bold;
}
#stores_list .other-stores {
    margin-top: 20px
}
.stores_locations_body #map_canvas {
    width: 760px;
    height: 450px;
    float: left;
    background: #fff;
}
#body.noleftmenu ul.alphabet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#body.noleftmenu ul.alphabet li {
    padding: 0 10px;
    margin: 0;
    display: inline;
    color: #999;
    font-size: 16px;
    border: 0;
}
#body.noleftmenu ul.alphabet li a {
    color: #000;
    font-weight: bold;
}
.pagers {
    text-align: right;
    font-size: 12px;
}
.pagers a {
    color: #6f924f
}
.search_by_ingredients_body .groups {
    margin: 0 0 30px 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.search_by_ingredients_body .groups li {
    padding-left: 8px;
    margin-right: 20px;
    float: left;
    width: 300px;
    background: url(/images/list-bullet.png) 2px center no-repeat;
}
.search_by_ingredients_body .group {
    overflow: auto;
    margin-bottom: 20px;
}
.search_by_ingredients_body .ingredients h2 {
    font-weight: bold;
    font-size: 15px;
    color: #6f924f;
    margin: 5px 0;
    padding: 0;
}
.search_by_ingredients_body .ingredients .clmn {
    width: 330px;
    float: left;
}
.search_by_ingredients_body .ingredients .clmn>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.search_by_ingredients_body .ingredients .clmn>ul>li {
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.search_by_ingredients_body .ingredients .clmn>ul>li>a {
    font-size: 13px;
    color: #084827;
    font-weight: bold;
    background: url(/images/arrow-open-close.png) -22px 3px no-repeat;
    padding-left: 15px;
}
.search_by_ingredients_body .ingredients .clmn>ul>li.open>a {
    background-position: left -19px
}
.search_by_ingredients_body .ingredients li.open #product_popup_button {
    display: block
}
#products_with_ingredient_result div {
    margin: 0 50px 0 0;
    padding: 0 15px;
    border-top: 1px solid #dae5b9;
    line-height: 25px;
    font-size: 13px;
}
#products_with_ingredient_result div.last {
    border-bottom: 1px solid #dae5b9
}
#products_with_ingredient_result div:hover {
    background: #edf7cc
}
.ajax_sending {
    color: #666;
    padding-left: 20px;
    background: url(/images/ajax-small.gif) left no-repeat;
    line-height: 22px;
}
#contact_form .form_line label {
    line-height: 22px;
    color: #666;
    font-weight: bold;
    font-size: 12px;
}
#contact_form .form_line input, .form_line textarea {
    border: 1px solid #999;
    padding: 2px 3px;
    width: 294px;
    margin-bottom: 10px;
}
.articles_body ul {
    list-style-type: none
}
.contact_body .left {
    width: 300px;
    float: left;
    margin: 10px 0 0 10px;
}
.contact_body>p {
    margin-left: 10px
}
.contact_body .right {
    width: 370px;
    float: right;
    padding-top: 120px;
    margin-top: 10px;
    background: url(/images/contact-mailbox.png) left top no-repeat;
    color: #084827;
}
.contact_body .right a {
    color: #084827
}
.sitemap_body .pages {
    margin: 0 0 30px 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.sitemap_body .pages li {
    padding-left: 15px;
    margin-right: 20px;
    float: left;
    width: 290px;
    background: url(/images/list-bullet.png) 2px center no-repeat;
}
.sitemap_body .products .clmn {
    width: 306px;
    margin-right: 20px;
    float: left;
}
.sitemap_body .products .clmn>div {
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.sitemap_body .products .clmn>div>div {
    display: none
}
.sitemap_body .products .clmn>div>a {
    font-size: 13px;
    color: #084827;
    font-weight: bold;
    background: url(/images/arrow-open-close.png) -22px 3px no-repeat;
    padding-left: 15px;
}
.sitemap_body .products .clmn>div.open>a {
    background-position: left -19px;
    border-bottom: 1px solid #dae5b9;
    display: block;
}
.sitemap_body .products .clmn>div.open>div {
    display: block
}
.sitemap_body .products .clmn>div.open>div div {
    border: 1px solid #fff;
    border-bottom: 1px solid #dae5b9;
    padding: 0 0 0 20px;
    line-height: 23px;
    font-size: 13px;
    margin: 0;
    height: 23px;
    overflow: hidden;
}
.sitemap_body .products .clmn>div.open>div div.last {
    border-bottom: 1px solid #dae5b9
}
.sitemap_body .products .clmn>div.open>div div:hover {
    background: url(/images/list-highlight-bg.png) no-repeat;
    position: relative;
    border-bottom: 0;
    height: 25px;
    margin-top: -1px;
    line-height: 25px;
}
.sitemap_body .products .clmn>div.open>div div:hover #product_popup_button {
    display: block
}
#pp_background {
    background-color: #858585;
    opacity: .5;
    filter: alpha(opacity=50);
}
#pp_background, #pp_loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
#pp_loading {
    background: url(/images/ajax-small.gif) center no-repeat
}
#pp_element {
    display: none;
    position: fixed;
    background: #FFF;
    padding: 15px 15px 0 15px;
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
#pp_element div {
    height: 15px;
    line-height: 15px;
    color: #999;
    font-size: 12px;
    text-align: center;
}
.buy_online_body .store {
    margin: 40px 0;
    overflow: hidden;
}
.buy_online_body .store .ss {
    float: left;
    width: 285px;
    border: 1px solid #b3b3b3;
}
.buy_online_body .store .r {
    width: 430px;
    float: left;
    margin-left: 20px;
}
.buy_online_body .store .r h2 {
    margin: 12px 0
}
.buy_online_body .store .r p {
    color: #084827;
    margin: 12px 0;
}
.buy_online_body .store .r a.shop_now {
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: url(/images/submit-yellow.png) top left;
    width: 65px;
    height: 22px;
    display: block;
    line-height: 22px;
}
.buy_online_body .store .r a.shop_now:hover {
    background-position: bottom left
}
#email_friend_form {
    display: block;
    margin: 0;
    padding: 10px;
    position: relative;
}
#email_friend_form label {
    display: block;
    color: #666;
    font-size: 13px;
    padding-left: 3px;
}
#email_friend_form input.text {
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #999;
    font-size: 13px;
}
#email_friend_form .submit {
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    width: 65px;
    height: 22px;
    border: 0;
    background: url(/images/submit-yellow.png) top left;
    cursor: pointer;
}
#email_friend_form .submit:hover {
    background-position: left bottom
}
#email_friend_send_result {
    padding: 0 3px;
    font-size: 13px;
}
/*Our Ads*/
 #adsPageThumbs {
    margin:0;
    padding:0;
    list-style: none;
    width:100%;
    display:block;
    overflow:hidden;
}
#adsPageThumbs li {
    width:33.3%;
    float:left;
    margin-bottom:1.5em;
    position:relative;
}
#adsPageThumbs li img {
    border: #b3b3b3 solid 1px;
    cursor:pointer;
}
#adsPageThumbs p {
    margin:0;
    color: #084827;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1em;
    line-height:1.8em;
}
#adsPageThumbs li .adspage-zoom-icon {
    position: absolute;
    top: 128px;
    left: 25px;
    width: 150px;
    height: 150px;
    text-indent: -9999px;
    background: url(/dev/img/ads_sprite.png) no-repeat scroll 0 -226px transparent;
    cursor:pointer;
}
 #adsModalOverlay {
    background-color: #F5F5F5;
    height: 2100px;
    left: 50%;
    margin-left: -1300px;
    margin-top: -1050px;
    position: fixed;
    top: 50%;
    width: 2600px;
    z-index: 999;
    display:none;
}
#modalGalleryWrap {
    border: 0 solid #CECECE;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background:#fff;
}
#adsModalSidebar {
    background: #e5e5e5;
    width: 15%;
    float: left;
    height: 100%;
    border-right: solid 1px #b3b3b3;
    overflow: auto;
    padding-left: 0.5%;
}
#adsModalSidebar ul {
    margin:0;
    padding:0;
    width:auto;
}
#adsModalSidebar li {
    margin:0 0 10px 0;
    padding:4px 4px 4px 10px;
    list-style: none;
    cursor:pointer;
}
#adsModalSidebar li:hover {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #cacaca;
}
#adsModalSidebar li p {
    font-size: 13px;
    font-weight:bold;
    line-height: 18px;
    font-family: Arial, Verdana, sans-serif;
    color: #084827;
    margin:0 0 0.2em 0;
}
#adsModalSidebar .ads-modal-selected, #adsModalSidebar .ads-modal-selected:hover {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #4e4e4e;
    cursor:auto;
}
#adsModalSidebar .ads-modal-selected p {
    color:#fff;
}
#adsModalRight {
    float: right;
    height: 100%;
    width: 80%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#adsModalImgWrap {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    height: 100%;
    width: 100%;
}
#adsModalImgWrap li {
    float:left;
    display:block;
    text-align: center;
}
#adsModalImgWrap .ads-modal-img-prev, #adsModalImgWrap .ads-modal-img-next {
    margin:20% 0;
}
#adsModalImgWrap .ads-modal-img-prev a, #adsModalImgWrap .ads-modal-img-next a {
    display:block;
    width:43px;
    height:74px;
    background: url(/dev/img/ads_sprite.png) no-repeat scroll -107px 0 transparent;
    text-indent: -9999px;
    outline-style:none;
}
#adsModalImgWrap .ads-modal-img-next a {
    background-position: -150px 0;
}
#adsModalImgWrap .ads-modal-img-prev a:hover {
    background-position: -193px 0;
}
#adsModalImgWrap .ads-modal-img-next a:hover {
    background-position: -236px 0;
}
#adsModalImgWrap .ads-modal-img {
    height:100%;
    width: 80%;
}
#adsModalImgWrap .ads-modal-preloader {
    background:url(/images/spinner.gif) center center no-repeat #ffffff;
}
#adsModalImgWrap .ads-modal-img img {
    height:100%;
    margin:0 5%;
}
#maxiDialog {
    margin: 30% auto;
    left: 0;
    right: 0;
    width: 10em;
    height: auto;
    padding: 1em;
    position: fixed;
    background: #fff;
    border: #000 solid 1px;
    z-index: 1;
}
#maxiDialog .maxi-dialog-loading.hidden, #maxiDialog .maxi-dialog-error.hidden {
    display:none;
}
#adsModalClose {
    background: url(/dev/img/ads_sprite.png) no-repeat scroll -42px 0 transparent;
    height: 38px;
    width:38px;
    position: absolute;
    color: #848484;
    text-indent: -9999px;
    top: 5px;
    right: 11px;
}
#adsModalClose:hover {
    background-position: -42px -38px;
}
#adsPageThumbs li .adspage-img-wrap {
    width:185px;
}
.our_ads_body .ad {
    float: left;
    width: 240px;
    height: 325px;
    margin: 0 0 30px 10px;
}
.our_ads_body .ad img {
    border: 1px solid #b3b3b3
}
.our_ads_body .ad .n {
    font-weight: bold;
    margin: 6px 0;
    color: #084827;
}
.our_ads_body .ad .l a {
    padding-left: 16px;
    font-size: 11px;
    display: inline-block;
    height: 14px;
    line-height: 15px;
}
.our_ads_body .ad .l a.vl {
    background: url(/images/view-larger.png) left no-repeat;
    margin-right: 10px;
}
.our_ads_body .ad .l a.pdf {
    background: url(/images/pdf.png) left no-repeat
}
a.decolink {
    text-decoration: none;
    border-bottom: 1px dotted;
}
.decolink:hover {
    color: #e6820e
}
#supFactsWrpr {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}
.ifChrt {
    border: 1px solid #000;
    padding: 4px 8px 6px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}
.ifChrtInr {
    width: 100%
}
.ifTtl {
    font-size: 18px;
    font-weight: bold;
}
.ifSngSz, .ifSngPC {
    font-size: 13px
}
.ifHdrSep {
    background-color: #000;
    margin: 4px 0 0;
    padding-top: 3px;
}
.ifITbl {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    width: 100%;
}
.ifNcol {
    vertical-align: top;
    width: 60%;
}
.ifAcol {
    padding-left: 7px;
    text-align: right;
    vertical-align: top;
    width: 25%;
}
.ifAPShdr, .ifDVhdr {
    font-weight: bold;
    padding: 3px 0 4px;
}
.ifDVcol {
    padding-left: 7px;
    text-align: right;
    vertical-align: top;
    width: 15%;
}
.ifColHdrSep {
    background-color: #000;
    height: 2px;
    margin-bottom: 4px;
}
.ifBl, .ifBl2 {
    background-color: #000;
    margin: 5px 0 4px;
    height: 1px;
}
.ifBl2 {
    height: 2px
}
.ifFn {
    font-size: 10px
}
.ui-widget-content {
    border: 1px solid #009444
}
.ui-autocomplete {
    cursor: pointer;
    font: 12px/150% Arial, Helvetica, sans-serif;
}
.ui-menu-item a {
    border-bottom: #ccc solid 1px;
    height: 51px;
}
.ui-menu-item {
    padding: 0
}
.ui-menu {
    padding: 1px
}
li.ui-menu-item.other-search a, li.ui-menu-item.other-search a.ui-state-hover {
    font-weight: bold;
    height: 20px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background-image: none;
    background-color: #eee;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: #d5d5d5;
}
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
    margin: 0
}
#autocomleteItem {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}
#autocomleteItem li {
    float: left;
    position: relative;
}
#autocomleteItem li:first-child {
    text-align: center;
    padding-top: 3px;
    width: 48px;
    height: 48px;
}
#autocomleteItem li:last-child {
    color: #004922;
    padding-top: 8px;
    padding-left: 4px;
    width: 153px;
}
#autocomleteItem img {
    max-width: 46px;
    height: 46px;
}